.login{
    margin: 170px auto;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 50vh;
}
.login:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
button{
    margin: 0px 10px;
}
.login p{
    margin: 5px 0px;
}
.login input{
    height: 1.7rem;
    border: 2px solid var(--grey);
    border-radius: 5px;
    padding: 0.5rem;
}
.login input:focus{
    outline: none;
}
.login .login-button,.login .login-guest{
    padding: 0.5rem 5rem;
    background-color: var(--dark-brown);
    border-radius: 5px;
    color: var(--secondary-color);
}
.login .login-button,.login .login-guest:hover{
    background-color: var(--primary-color);
}