.landing {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--light-brown);
}

.landing h1 {
    margin: 1rem;
}

.landing-categories {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    margin: 20px;
}

.landing-categories-category {
    height: 25vh;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    margin: 10px auto;
    width: 30vh;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
}
.best-of a:active, .best-of a::selection{
    background-color: var(--primary-color);
    color: white;
}

.best-of-products{
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
}
.landing-categories-category img {
    border-radius: 5px;
    width: 200px;
    height: 150px;
    transition: transform .5s ease;
}
.landing-categories-category img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.landing-categories-category .category-name{
    position: absolute;
   left: 0;
   right: 0;
   margin: 0px auto;
   background-color: white;

    
}
.hero-image {
    background-image: url(images/hero-image.png);
    background-size: cover;
    height: 12rem;
    width: 100%;
    position: relative;
}

.landing-button {
    padding: 1rem;
    align-self: center;
    margin: 10px auto;
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
}

.landing-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

@media (min-width:475px){
    .hero-image{
        height:17rem;
    }
}
@media (min-width:768px) {
    .landing-categories-category {
        width: 90vh;
        margin: 10px 20px;
    }

    .landing-categories {
        flex-wrap: nowrap;
    }

    .landing-categories-category {
        height: 30vh;
    }

    .landing-categories-category img {
        width: 210px;
        height: 150px;
    }

    .hero-image {
        height: 330px;
        width: 100%;
    }
}

@media (min-width:1024px) {
    .landing-categories {
        flex-direction: row;
    }

    .landing-categories-category {
        height: 40vh;
    }

    .landing-categories-category img {
        width: 400px;
        height: 230px;
    }

    .hero-image {
        height: 580px;
        width: 100%;
    }
}
