.wishlist{
    position: relative;
}
.wishlist h2,.wishlist h1{
    margin-top: 100px;
    text-align: center;
}

.wishlist .wishlist-length{
    font-family: none;
}
.wishlist-list{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.wishlist-card{
    list-style: none;
    max-width: 700px;
    max-height: 500px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 0px auto;
    margin-bottom: 30px;
    position: relative;
   
}
.wishlist-card::after{
    border-bottom: 1px solid var(--grey);
    margin: 5px auto;
}
.wishlist-card:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.wishlist-card li{
    padding: 1rem 1rem;
    display: flex;
    
}
.wishlist-card img{
    width: 200px;
    height: 200px;
    position: relative;
}
.wishlist-card .price .original-price {
    color: #94a3b8;
    text-decoration: line-through;
    margin: 10px;
}

.wishlist-card .price {
    font-size: 17px;
    font-family: none;
    margin: 10px 0px;
}
.wishlist-card .offer{
    color: #94a3b8;
    font-family: none;
    margin: 5px 0px;
    margin-bottom: 25px;
    font-size: 18px;
}
.wishlist-card .rating {
    position: absolute;
    bottom: 210px;
    right: 0;
    top: 0;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    padding: 0rem 0.2rem;
}
.wishlist-card .remove-from-wishlist {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 19px;
    font-weight: 500;
}