.cart h4{
    margin-top: 100px;
    text-align: center;
}
.cart{
    position: relative;
    text-align: center;
}
.cart h1{
    margin-left: 220px;
}
.cart-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart .checkout{
    padding: 0.5rem 1rem;
    background-color: var(--dark-brown);
    border-radius: 5px;
    color: var(--secondary-color);
    margin: 10px 230px;
}
.cart .checkout:hover{
    background-color: var(--primary-color);
}
.cart-list{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}
.cart-card{
    list-style: none;
    max-width: 700px;
    max-height: 500px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 0px 100px;
    margin-bottom: 30px;
    position: relative;
   
}
.cart-card:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.cart-card li{
    padding: 1rem 1rem;
    display: flex;
    
}
.cart-card img{
    width: 150px;
    height: 150px;
    position: relative;
}
.cart-card .price .original-price {
    color: #94a3b8;
    text-decoration: line-through;
    margin: 10px;
}
.cart-card-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cart-card .price {
    font-size: 17px;
    font-family: none;
    margin: 10px 0px;
    }
.cart-card .offer{
    color: #94a3b8;
    font-family: none;
    margin: 5px 0px;
    margin-bottom: 25px;
    font-size: 18px;
    
}
.cart-card .rating {
    position: absolute;
    bottom: 150px;
    right: 0;
    top: 0px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    padding: 0.5rem 0.2rem;
}
.cart-card .remove-from-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 19px;
    font-weight: 500;
}

.cart-card .cart-quantity span{  
    font-size: 19px;
}
.cart-card .cart-quantity button{
    background-color: var(--grey);
    padding: 0.2rem 0.3rem;
    border: 1px solid var(--grey);
    border-radius: 7px;
    font-size: 19px;
    
}
.cart-price{
    max-width: 300px;
    max-height: auto;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 1rem;
    margin: 20px;
}
.cart-price-price{
    font-weight: 600;
    margin: 0px 20px;
    font-family: none;
}
.cart-price li{
    list-style: none;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.total-price{
    border-top: 2px solid var(--grey);
    margin: 10px 0px;
    padding: 0.5rem 0rem ;
    display: flex;
    justify-content: space-between;
}
.total-price-price{
    font-weight: 600;
    font-family: none;
}
@media (min-width:768px){
    .cart .checkout{
        margin: 10px 320px;
    }
    .cart-card img{
        width: 200px;
        height: 200px;
    }
    .cart-card .rating {
        bottom: 210px;
        padding: 0rem 0.2rem;
    }
}
@media (min-width:1015px){
    .cart .checkout{
        margin: 10px 450px;
    }
}
@media (min-width:1024px){
    .cart-box{
        flex-direction: row;
    }
    .cart .checkout{
        margin: 10px 430px;
    }
}