.orders{
    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: auto;
    margin-top: 100px;
    width: 100vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.orders-list{
   display: flex;
}
.track-button{
    border: 1px solid var(--dark-brown);
    padding: 0.5rem 3rem;
    align-self: flex-start;
    border-radius: 5px;
    background: transparent;
    color: var(--dark-brown);
}